
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Service List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.5/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css"/>
    <link rel="stylesheet" href="adminStyles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    

</head>



<body class="admin-body">
    <div>
        <nav class="navbar  navbar-custom navbar-dark navbar-expand-lg  fixed-top "  >
            <div class="logo">
                <a href="adminpanel.html">
                    <img  src="images/admin-logo.png" />
                    </a>
            </div>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li>
                                <h1 class="text-white align-bottom mx-3 my-2">Home Service</h1>
                    </li>
                        
                    <li class="nav-item ">
                      <input class=" search " type="search" placeholder="Search" aria-label="Search"><a><i id="nav_search_icon" class="fa fa-search" href="search.html"></i></a>
                    </li>

                 

                  </ul>
                  
                    <form class="form-inline my-2 my-lg-0 ">

                      <div class="btn-group show-on-hover"   >
                        <button type="button" class="btn btn-Dark " data-toggle="dropdown" >
                                <a href="#" class="notification mg-35 ">
                                        <span><i class="fa fa-bell"></i></span>
                                        <span class="badge">0</span>
                                </a>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="padding: 25px; background-color: rgb(88, 103, 133);max-height:350px;overflow-y: auto;"  role="menu">
                          <li style="width:200px;"><a href="#" style="color: white" >Irfan has accept your request</a></li>
                          <hr>
                          <li style="width:200px;"><a href="#" style="color: white" >Irfan has accept your request</a></li>
                           <hr>
                           <li style="width:200px;"><a href="#" style="color:white" >Irfan has accept your request</a></li>
                           <hr>
                           <li style="width:200px;"><a href="#" style="color: white" >Irfan has accept your request</a></li>
                           <hr>
                           <li style="width:200px;"><a href="#" style="color: white" >Irfan has accept your request</a></li>
                  </ul>
                    </div>
                        
                        <a href="#" class="btn btn-primary logout-btn btn-sm">
                            <span class="fa fa-sign-out my-2 mr-3"></span> Log out
                        </a>
                            
                    </form>
                 
                </div>
              </nav>
        </div>
              
              <button class="toggle_btn hide-large" onclick="openSidebar()" >&#9776;</button>
              <div class="sidenav sidenav-collapse  "  id="mySidenav">
                
                  <a href="javascript:void(0)" class="closebtn hide-large" onclick="closeSidebar()" >&times;</a>
                  <div class="d-inline-flex  "> 
                  <img src="images/profile.png"  class="profile_pic"> <label class="p-2">Mandeep <br><small>Admin</small> </label>
                  </div>

                  <a href="adminpanel.html">Dashboard</a>
                  <a href="adminPanelProfile.html"> Profile</a>
                  <a href="#" class="active">Services</a>
                  <a href="adminPanelRequest.html">Requests</a>
                  
              </div> 
               <div class="content " >
                 <div class="table-responsive scroll">

                    <div class="modal fade modal-update-service" id="updateService" role="dialog">
                        <div class="modal-dialog">
                        
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                                    <h4 class="modal-title">Update Service</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              
                            </div>
                            <div class="modal-body">
                                <form action="#" class="col-11 mx-auto " >

                                  <div class="form-group ">
                                      <label style="font-weight: bold" >Service Name:</label><br>
                                      <input type="text" class="form-control service-field" value="" id="sname" placeholder="Service Name" readonly>
                                  </div>
                                  <div class="form-group">
                                      <label style="font-weight: bold" >Service Description:</label><br>
                                   <textarea class="form-control service-field"  id="sdesc" placeholder="Service details"></textarea>
                                  </div>
                                  <div class="form-group">
                                      <label style="font-weight: bold" >Price (Per hour):</label><br>
                                          <input type="text" class="form-control service-field"  placeholder="Service Price" id="price" >
                                  </div>
          
                                  <div class="form-group ">
                                          <label style="font-weight: bold" >Available Timing:</label><br>
                                          <div class="form-inline mt-3 " >
                                          From:<input type="text" class="form-control service-field ml-2 mr-3 col-4" id="from">
                                          To:<input type="text" class="form-control service-field ml-2 col-5"  id="to">
                                          </div>
                                  </div>
                               
                                  <button type="submit" class="btn btn-primary mt-3  text-dark">Submit</button>
                                </form>
                             </div>
                          </div>
                         </div>
                      </div>

                <div class="top-head-table border"> <h2>Services Available</h2> </div>
                 <table class="table w-75  " id="Service">
                    <thead  >
                      <tr>
                        <th scope="col">Service Name</th>
                        <th scope="col">Service description</th>
                        <th scope="col">Price(/hour)</th>
                        <th scope="col">Available times</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr onclick="getRow()">
                        <td >  Plumber</td>
                        <td>Repair and fitting</td>
                        <td>90</td>
                        <td>10:00 am-1:00pm</td>
                        <td><button class="update-service-btn btn-primary"data-toggle="modal" data-target="#updateService">Update</button></td>   
                      </tr>
                      <tr>
                        <td >  Electrician</td>
                        <td>New Connection</td>
                        <td>120</td>
                        <td>11:00 am-2:00pm</td>
                        <td><button class="update-service-btn btn-primary"data-toggle="modal" data-target="#updateService">Update </button></td>
                      </tr>
                      <tr>
                        <td > Mechanic</td>
                        <td>Motor repair</td>
                        <td>100</td>
                        <td>9:00 am-5:00pm</td>
                        <td></td>
                      </tr>
                      
                      <tr>
                        <td> Plumber</td>
                        <td>New connection fitting</td>
                        <td>70</td>
                        <td>10:00 am-1:00pm</td>
                        <td></td>
                      </tr>
                     
                    </tbody>
                  </table>
                  <a href="adminPanelAddService.html"><button class="add-service-btn">Add service</button></a>
                  
                  
                  
                 
      </div> 
      </div>
    </body>
</html>
<script src="adminPanel.js"></script>
